---
import Bot from '../components/pages/bot.svelte';
import { Head, Layout } from '../components/layout';
---
<!DOCTYPE html>
<html lang="pt">
  <head>
    <Head />
  </head>
  <body>
    <Layout>
      <Bot client:visible />
    </Layout>
  </body>
</html>