---
import Home from '../components/pages/home.svelte';
import { Head } from '../components/layout';
---
<!DOCTYPE html>
<html lang="pt">
  <head>
    <Head />
  </head>
  <body>
    <Home />
  </body>
</html>