---
import Prime from '../components/pages/prime.svelte';
import { Head, Layout } from '../components/layout';
---
<!DOCTYPE html>
<html lang="pt">
  <head>
    <Head />
  </head>
  <body>
    <Layout>
      <Prime />
    </Layout>
  </body>
</html>